*{
	font-family: "Merriweather";
	background-color: black;
	color: white;

}
form{
	margin-left: 100px;
}
h2{
	margin-left: 100px;
}
li {
	display: inline;
	margin: 150px;
}
nav{
	text-align: center;
}